body {
  min-width: 400px;
  min-height: 100%;
}
#content-input {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}

#content-input > textarea,
button {
  padding: 8px;
  margin: 8px;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-height: 200px;
}

th {
  padding: 8px;
  text-transform: uppercase;
  background-color: black;
  color: antiquewhite;
}

tr:hover {
  background-color: grey;
  color: white;
}

td {
  border-left: 1px solid navy;
  text-align: center;
  padding: 8px;
}
